<div class="container" style="margin-top: 4rem;">
<h4 class="col-2 original-font" style="margin-bottom: 2rem; font-weight: bold;">マイページ</h4>
<div class="row" style="margin-bottom: 1rem; height: 2rem;">
<h5 class="col-2 original-font" style="margin-bottom: 0rem; line-height: 2rem;">登録情報</h5>
<%= link_to information_path, class: "btn btn-success btn-sm col-1" do %>
編集する
  <% end %>
  </div>
<table border="1">
  <tr style="height:3rem">
    <th class="bg-light" >ユーザーネーム</th>
    <td class="bg-white"><%= @customer.username %></td>
  </tr>
  <tr style="height:3rem">
    <th class="bg-light" style="width: 10rem;">氏名</th>
    <td class="bg-white" style="width: 25rem;"><%= @customer.last_name%>   <%= @customer.first_name%></td>
  </tr>
    <tr style="height:3rem">
    <th class="bg-light" >カナ</th>
    <td class="bg-white"><%= @customer.kana_last_name%>   <%= @customer.kana_first_name%></td>
  </tr>
    <tr style="height:3rem">
    <th class="bg-light" >郵便番号</th>
    <td class="bg-white"><%= @customer.zipcode %></td>
  </tr>
    <tr style="height:3rem">
    <th class="bg-light" >住所</th>
    <td class="bg-white"><%= @customer.address %></td>
  </tr>
    <tr style="height:3rem">
    <th class="bg-light" >電話番号</th>
    <td class="bg-white"><%= @customer.phone_number %></td>
  </tr>
    <tr style="height:3rem">
    <th class="bg-light" >メールアドレス</th>
    <td class="bg-white"><%= @customer.email %></td>
  </tr>
</table>
<div style="margin-top: 2rem; margin-bottom: 3rem;">
</div>