<div class="container">
<div style="margin-bottom: 5rem; margin-top: 2rem;"></div>
<h3>配達内容詳細</h3>
<div style="margin-bottom: 2rem;"></div>
<p>お店：<%=@delivery.place%></p>
<p>配達可能時間帯：<%=@delivery.section%></p>
<p>配達可能個数：<%=@delivery.quantity%></p>
<% unless @customer.id == current_customer.id %>
  <% if @isRoom == true %>
    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary">チャットへ</a>
  <% else %>
    <%= form_with model:@room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :customer_id, value: @customer.id %>
      <% end %>
      <%= f.submit "チャットを始める", class:"btn btn-primary user-show-chat"%>
    <% end %>
  <% end %>
<% end %>
<div style="margin-bottom: 5rem; margin-top: 2rem;"></div>
</div>